body {
    font-family: 'Montserrat', sans-serif;
    margin: o;
}

h2 {
    text-align: center;
    font-size: 35px;
}

p {
    font-size: 20px;
    text-align: center;
    line-height: 32px;
}

/* header area starts here */

.header-area {
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    margin-bottom: 100px;
    opacity: 0.9;
}

.banner-part {
    text-align: center;
    padding-top: 150px;
    color: white;
}

.banner-part h1 {
    font-size: 55px;
    font-weight: 700;
}

.banner-part p {
    font-size: 20px;
    line-height: 25px;

}

.donate-button {
    font-size: 18px;
    color: white;
    padding: 15px 25px;
    background-color: rgba(235, 66, 66, 0.897);
    border: none;
    border-radius: 5px;
    margin-top: 1%;
}

/* header area ends here */

/* donate today area starts here */

.donation-option {
    display: flex;
    justify-content: space-evenly;
}

.amount-option {
    margin-top: 5%;
    padding: 35px 15px;
    font-size: 30px;
    font-weight: 700;
    color: gray;
    text-align: center;
    background-color: rgb(241, 240, 240);
    border-radius: 5px;
}

#donate-opt-2 {
    border: 2px solid rgba(235, 66, 66);
    color: rgba(235, 66, 66);
    background-color: antiquewhite;
}

#other-option {
    width: 50%;
    margin-top: 5%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: rgb(202, 202, 202);
    margin-left: 25%;
}

#other-option::placeholder {
    text-align: center;
}

.donate-button2 {
    font-size: 18px;
    color: white;
    padding: 15px 25px;
    background-color: rgba(235, 66, 66, 0.897);
    border: none;
    border-radius: 5px;
    margin-top: 25px;
    margin-left: 45%;
    margin-bottom: 100px;
}

/* donation today area ends here */

/* our donate plan area starts here */


.plan-title {
    text-align: center;
    padding: 3px;
}

.plan-lists {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;

}

.plan {
    width: 25%;
    line-height: 25px;
    margin-left: 1%;
    border-radius: 5px;
    margin-bottom: 100px;

}

.plan-item h3 p {
    font-size: 20px;
    padding-top: 2%;

}


#food {
    background-color: rgba(205, 240, 248, 0.363);
}

#shelter {
    background-color: rgba(255, 228, 224, 0.548);
}

#education {
    background-color: rgba(255, 231, 187, 0.568);
}

/* our donate plan area ends here */


/* get my updates area starts here */

.email-area {
    display: flex;
    margin-left: 12%;
    padding: 12% 0;
}

#email-id {
    background-color: rgba(255, 231, 187, 0.568);
    width: 50%;
    height: 200px;
    margin-left: 25%;
    margin-bottom: 100px;
}

input[type=email] {
    width: 65%;
    background-color: rgb(221, 219, 219);
    border: none;
    padding: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

input[type=button] {
    font-size: 18px;
    color: white;
    padding: 15px 25px;
    background-color: rgba(235, 66, 66, 0.897);
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* footer area starts here */

.footer-area {
    background-color: black;
    height: 175px;
    text-align: center;
}

#footer-head {
    font-size: 32px;
    font-weight: 700;
    padding-top: 45px;
    color: rgba(216, 94, 73, 0.856);
}

#footer-body {
    color: white;
}

/* footer area ends here */