body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 35px;
}

h4 {
    margin: 0;
    padding: 0;
}

p {
    font-size: 20px;
    line-height: 32px;
}

/* header area starts here */

.header-area {
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    opacity: 0.9;
    margin-bottom: 100px;

}

.banner-part {
    text-align: center;
    padding-top: 92px;
    color: white;
}

.banner-part h1 {
    font-size: 55px;
    font-weight: 700;
}

.donate-button {
    font-size: 18px;
    color: white;
    padding: 15px 25px;
    background-color: rgba(240, 102, 102, 0.897);
    border: none;
    border-radius: 5px;
    margin-top: 1%;
}

/* header area ends here */
/* donate today area starts here */
.donation-area {
    margin-bottom: 100px;
}

.donation-part {
    text-align: center;
    margin-bottom: 3%;
}

.donate-list {
    display: flex;
    justify-content: space-evenly;
    margin-left: 25%;
    margin-right: 27%;
}

.donate-opt {
    width: 110px;
    height: 80px;
    font-size: 25px;
    font-weight: 800;
    color: gray;
    padding-top: 40px;
    text-align: center;
    background-color: rgba(168, 168, 168, 0.055);
    border-radius: 5px;
}

#box-color {
    color: rgba(240, 102, 102);
    border: 2px solid rgba(235, 66, 66);
    background-color: rgba(253, 218, 218, 0.253);
}

#other-option {
    width: 50%;
    border-bottom: 1px solid rgb(202, 202, 202);
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 5%;
    margin-left: 25%;
    margin-bottom: 20px;
}

#other-option::placeholder {
    font-size: 18px;
    font-weight: 300;
    color: rgb(175, 175, 175);
    text-align: center;
}

.fund-button {
    margin-left: 45%;
}

/* donation today area ends here */
/*our donate plan starts here*/

.donate-plan-area {
    margin-bottom: 100px;
}

.plan-title {
    text-align: center;
    margin-bottom: 4%;
}

.plan-items {
    display: flex;
    justify-content: space-evenly;
}

.plan {
    width: 25%;
    padding: 2%;
    border-radius: 7px;
}

#food {
    background-color: rgba(205, 240, 248, 0.233);
}

#shelter {
    background-color: rgba(253, 218, 218, 0.253);
}

#education {
    background-color: rgba(253, 212, 135, 0.247);
}

/*our donate plan ends here*/
/* challenge part starts here*/

.challenge-part {
    margin-bottom: 100px;
}

#challenge-title-para {
    text-align: center;
    margin-bottom: 4%;
}

.bonus-part {
    display: flex;
}

.challenge-para,
.input-list {
    width: 40%;
    height: 355px;
    background-color: rgba(168, 168, 168, 0.055);
    padding-top: 3%;
    padding-bottom: 3%;
    padding-bottom: 2%;
    padding-left: 3%;
    border-radius: 7px;
    margin-left: 5%;
    margin-right: -2%;
}

.input-item input[type=text],
.input-item input[type=email],
.input-item input[type=tel] {
    width: 90%;
    font-size: 25px;
    background-color: rgba(221, 219, 219, 0.493);
    border: none;
    padding: 0;
    margin-bottom: 25px;
    padding-top: 5px;
}

.join-us-button {
    margin-top: 28px;
    margin-left: 40%;
}


/* challenge part ends here */
/* get my updates area starts here */

.update-text {
    text-align: center;
    margin-bottom: 3%;
}

#email-id {
    background-color: rgba(253, 212, 135, 0.247);
    width: 58%;
    height: 200px;
    margin-left: 20%;
    margin-bottom: 100px;
}

.email-area {
    display: flex;
    margin-left: 12%;
    padding: 10% 0;
}

.email-area input[type=email] {
    width: 65%;
    background-color: rgb(221, 219, 219);
    border: none;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.email-area input[type=button] {
    font-size: 18px;
    color: white;
    padding: 15px 25px;
    background-color: rgba(235, 66, 66, 0.897);
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* get my updates area ends here */

/* footer area starts here */

.footer-area {
    background-color: black;
    height: 175px;
    text-align: center;
}

#footer-head {
    font-size: 32px;
    font-weight: 700;
    padding-top: 45px;
    color: rgba(216, 94, 73, 0.856);
}

#footer-body {
    color: white;
}

/* footer area ends here */